@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brandColor: #03f;
  --grayColor: #f0f1f5;
}

@theme inline {
  --color-blue: var(--brandColor);
  --color-gray: var(--grayColor);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
